/* ========================================================================= */
/*                           U S A    C O L O R S                            */
/* ========================================================================= */
.color-usa-red {
    color: #b22234;
}

.color-usa-blue {
    color: #3c3b6e;
}

.color-usa-white {
    color: #fff; /* haha this joke */
}


/* ========================================================================= */
/* */
/* ========================================================================= */
footer {
    font-size: 0.8em;
}


/* ========================================================================= */
/*                                  P R E                                   */
/* ========================================================================= */
pre, .pre-wrap {
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    font-family: "Courier New",SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono",monospace;
}

pre, .pre-wrap h1 {
    margin-bottom: -12px;
    margin-top: 20px;
}

pre h4, .pre-wrap h4 {
    margin-bottom: -12px;
    margin-top: 0;
}

.pre-wrap-lg {
    font-size: 1.3rem;
}

/* ========================================================================= */
/* */
/* ========================================================================= */
.favicon {
    background-image: url('/media/img/favicon.png');
    height: 14px;
    width: 14px;
    background-size: 14px;
    display: inline-block;
    position: relative;
    top: 3px;
}

.letter p {
    margin-top: 24px;
}

/* ========================================================================= */
/*                            T Y P O G R A P H Y                            */
/* ========================================================================= */
.courier {
    font-family: "Courier New",SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono",monospace;
}

.underline, .u {
    text-decoration: underline;
}


/* ========================================================================= */
/*                           E M O J I    S I Z E S                          */
/* ========================================================================= */
.emoji-huge {
    font-size: 120px;
}

.emoji-huger {
    font-size: 180px;
}

.emoji-hugest {
    font-size: 240px;
}

.emoji-hugester {
    font-size: 300px;
}


/* ========================================================================= */
/*                             J U M B O T R O N                             */
/* ========================================================================= */
.jumbotron-slim {
    margin-top: -32px;
    -padding-right: 20px;
}


/* ========================================================================= */
/*                         W I D T H    H E L P E R S                        */
/* ========================================================================= */
.w-40 { max-width: 40px; }
.w-80 { max-width: 80px; }
.w-120 { max-width: 120px; }
.w-138 { max-width: 138px; }
.w-240 { max-width: 240px; }
.w-320 { max-width: 320px; }
.w-400 { max-width: 400px; }
.w-480 { max-width: 480px; }
.w-720 { max-width: 720px; }


/* ========================================================================= */
/*                              J O G D I A L                                */
/* ========================================================================= */
#jog_dial {
  position: relative;
  width: 260px;
  height: 260px;
  margin: 20px auto;
  background: url('../img/jogdial/base_one_bg.png');
  background-repeat: none;
}

#jog_dial #jog_dial_knob {
  background: url('../img/jogdial/base_one_knob.png');
}

#jog_dial_meter {
  width: 200px;
  height: 10px;
  margin: 20px auto 30px;
  background: #999;
  overflow: hidden;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

#jog_dial_meter div {
  position: relative;
  /*width: 65%;*/
  height: 100%;
  background: #80e93a;
}


/* ========================================================================= */
/*                                 U T I L S                                 */
/* ========================================================================= */
.blinking {
    animation:blinkingText 2.2s infinite;
}
@keyframes blinkingText {
    0%   { color: #ddcc80; }
    49%  { color: #ddcc80; }
    60%  { color: transparent; }
    99%  { color: transparent; }
    100% { color: #ddcc80; }
}

.img-zoom {
    /* for the zoom icon on images */
    position: absolute;
    top: 8px;
    left: 6px;
    display: inline;
}

.mirror {
    /* from: https://stackoverflow.com/a/11457128/420678 */
    display: inline-block;
    -font-size: 30px;

    -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
    -moz-transform: matrix(-1, 0, 0, 1, 0, 0);
    -o-transform: matrix(-1, 0, 0, 1, 0, 0);
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.dim-75 { filter: brightness(75%); }
.dim-80 { filter: brightness(80%); }
.dim-85 { filter: brightness(85%); }

.pre-wrap {
    white-space: pre-wrap;
}

/*===============================================================*/
/* comfy lists */
/*===============================================================*/
.comfy li {
    padding-top: 1rem;
}

.comfy li:first-of-type {
    padding-top: 1rem;
}

.comfy-comfy li {
    padding-top: 3rem;
}

.comfy-comfy li:first-of-type {
    padding-top: 1rem;
}
