/*===============================================================*/
/* top level elements */
/*===============================================================*/
body {
    font-family: "Courier New",SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono",monospace;
    margin: 0 4%;
    font-size: 1.5rem;

    /* colors borrowed from github dim mode */
    background-color: #0d1117;
    color: #c9d1d9;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 4.0rem;
}

h2 { padding-top: 5.0rem; }
h2:first-of-type { padding-top: 4.0rem; }

h3 { margin-bottom: -1.0rem; }
-h2:first-of-type { padding-top: 4.0rem; }

ul {
    list-style-type: "» ";
    margin: 0;
}

sup {
    font-size: 0.85rem;
}

footer {
    text-align: center;
    font-size: 0.8rem;
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 2rem;
    padding-top: 0.5rem;
    border-top: 1px solid #c9d1d9;
    width: 200px;
}

/*===============================================================*/
/* utils */
/*===============================================================*/
a {
    color: #4d90d1;
    text-decoration: none;
}

a:hover {
    color: #ec6a59;
    text-decoration: underline;
}

/*===============================================================*/
/* utils */
/*===============================================================*/
.text-center {
    text-align: center;
}

.reader-view {
    max-width: 960px;
}

.reader-view-sm {
    max-width: 800px;
}

.small {
    font-size: 0.8rem;
}

/*===============================================================*/
/* comfy lists */
/*===============================================================*/
.comfy li {
    padding-top: 1rem;
}

.comfy li:first-of-type {
    padding-top: 1rem;
}

.comfy-comfy li {
    padding-top: 3rem;
}

.comfy-comfy li:first-of-type {
    padding-top: 1rem;
}


/*===============================================================*/
/* on this page */
/*===============================================================*/
.on-this-page {
    font-size: 0.8rem;
}

.on-this-page a {
    text-decoration: none;
    white-space: pre;
}

/* ========================================================================= */
/*                                  P R E                                   */
/* ========================================================================= */
pre, .pre-wrap {
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    font-family: "Courier New",SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono",monospace;
}

pre h1, .pre-wrap h1 {
    margin-bottom: -12px;
    margin-top: 20px;
}

pre h4, .pre-wrap h4 {
    margin-bottom: -12px;
    margin-top: 0;
}

.pre-wrap-lg {
    font-size: 1.3rem;
}

/* ========================================================================= */
/*                                I F R A M E                                */
/* ========================================================================= */
iframe{
    width: 55vw;
    height: calc(55vw/1.77);
    min-width: 360px;
    min-height: calc(360px/1.77);
}

/* ========================================================================= */
/*                                B U T T O N S                              */
/* ========================================================================= */
a.button {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    background-color: #28a745;
    border-color: #28a745;
    border-radius: 50rem!important;
    padding: 24px 48px;
    font-size: 2.2rem;
}

a.button:hover {
    filter: brightness(85%);
    color: fff;
}
